@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
.wrapper {
    width: 1000px;
    height: 500px;
    background: #21282F;
    margin: 0 auto;
    left: 25%;
    position: absolute;
}

.header { 
    color: #DC8EB6;
    margin-left:40%;
    margin-right: 30%;
    font-family: 'Roboto', sans-serif; 
    position: relative;
}

.field-add-task{
    width: 500px;
    height: inherit;
    background:#D7CBC7;
    float: left;
    position: relative;
}

.form-task{
    clear: left;
    position: relative;
}
.form-task label{
    font-size: 15pt;
    display: block;
    padding-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.form-task li{
    list-style-type: none;
    padding: 12px;
    position:relative;
}

.form-task .form-task__field{
    height:30px;
    width:220px;
    padding:5px 8px;
    clear: left;
}
.form-task__button{
    width: 150px;
    height: 40px;
}

.field-list-task{
    width: 500px;
    height: inherit;
    background: #BAC8D5;
    float: left;
    position: relative;
}

.list-task{
    background: goldenrod;
}

.infcard-task{
    width: 250px;
    height: 90px;
    margin: 0 auto;
    list-style-type: none;
    background: rebeccapurple;
}

